default deploy

label deploy
kernel /tftpboot/instance_uuid_123/deploy_kernel
append initrd=/tftpboot/instance_uuid_123/deploy_ramdisk selinux=0 disk=cciss/c0d0,sda,hda,vda iscsi_target_iqn=iqn-instance_uuid_123 deployment_id=123 deployment_key=0123456789ABCDEFGHIJKLMNOPQRSTUV test_param
ipappend 3


label boot
kernel /tftpboot/instance_uuid_123/kernel
append initrd=/tftpboot/instance_uuid_123/ramdisk root={{ ROOT }} ro test_param