# Compiled files
*.py[co]
*.a
*.o
*.so

# Sphinx
_build
doc/source/contributor/api/
_static
doc/source/admin/drivers/redfish/OpenStackIronicProfile.*.rst

# release notes build
releasenotes/build

# sample config files
etc/ironic/ironic.conf.sample
etc/ironic/ironic.networking.conf.sample
etc/ironic/policy.yaml.sample

# Packages/installer info
*.egg
*.egg-info
dist
build
eggs
.eggs
parts
var
sdist
develop-eggs
.installed.cfg

# Other
*.DS_Store
.idea
.vscode
.testrepository
.stestr
.tox
.venv
.*.swp
.coverage
cover
AUTHORS
ChangeLog
*.sqlite
*~

# Vagrant
.vagrant
