# Compiled files
*.py[co]
*.a
*.o
*.so

# Sphinx
_build
doc/source/api/

# Packages/installer info
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg

# Other
*.DS_Store
.testrepository
.tox
.venv
.*.swp
.coverage
cover
AUTHORS
ChangeLog
*.sqlite
