# Format is:
# <preferred e-mail> <other e-mail 1>
# <preferred e-mail> <other e-mail 2>
Joe Gordon <joe.gordon0@gmail.com> <jogo@cloudscaling.com>
Aeva Black <aeva.online@gmail.com> <devananda.vdv@gmail.com>
