# This file lists all python libraries which are utilized by drivers,
# but not listed in global-requirements.
# It is intended to help package maintainers to discover additional
# python projects they should package as optional dependencies for Ironic.

# These are available on pypi
proliantutils>=2.16.2,<2.17.0
pysnmp-lextudio>=5.0.0 # BSD
pyasn1>=0.5.1 # BSD
pyasn1-modules>=0.3.0 # BSD
python-scciclient>=0.16.0,<0.17.0

# Ansible-deploy interface
ansible>=2.7

# Dell EMC iDRAC sushy OEM extension
sushy-oem-idrac>=5.0.0,<6.0.0
