# This file lists all python libraries which are utilized by drivers,
# but not listed in global-requirements.
# It is intended to help package maintainers to discover additional
# python projects they should package as optional dependencies for Ironic.

# These are available on pypi
proliantutils>=2.1.11
pyghmi>=0.8.0
pysnmp
python-ironic-inspector-client>=1.5.0
python-oneviewclient<3.0.0,>=2.0.2
python-scciclient>=0.4.0
python-seamicroclient>=0.4.0
UcsSdk==0.8.2.2
python-dracclient>=0.1.0

# The amt driver imports a python module called "pywsman", but this does not
# exist on pypi.
# It is installed by the openwsman-python (on RH) or python-openwsman (on deb)
# package, from https://github.com/Openwsman/openwsman/blob/master/bindings/python/Makefile.am#L29
# There is *also* a "wsman" module on pypi ... but I think that's the wrong one.

# The iboot driver does not seem to have any available packages or pip modules,
# but the source is available here:
# https://github.com/darkip/python-iboot

# 'pxe_vbox' and 'agent_vbox' drivers require pyremotevbox library.
# Refer documentation on how to install and configure this:
# http://docs.openstack.org/developer/ironic/drivers/vbox.html
pyremotevbox>=0.5.0

# The CIMC drivers use the Cisco IMC SDK version 0.7.2 or greater
ImcSdk>=0.7.2
