coverage>=4.0 # Apache-2.0
ddt>=1.2.1 # MIT
fixtures>=3.0.0 # Apache-2.0/BSD
PyMySQL>=0.8.0 # MIT License
iso8601>=0.1.11 # MIT
oslo.reports>=1.18.0 # Apache-2.0
oslotest>=3.2.0 # Apache-2.0
stestr>=2.0.0 # Apache-2.0
psycopg2>=2.8.5 # LGPL/ZPL
testtools>=2.5.0 # MIT
WebTest>=2.0.27 # MIT
pysnmp-lextudio>=5.0.0 # BSD
pyasn1>=0.5.1 # BSD
pyasn1-modules>=0.3.0 # BSD
bandit>=1.1.0,<2.0.0 # Apache-2.0
