# Install bounded pep8/pyflakes first, then let flake8 install
pep8==1.4.5
pyflakes==0.7.2
flake8==2.0
hacking>=0.5.6,<0.6
coverage>=3.6
discover
fixtures>=0.3.12
mox>=0.5.3
Babel>=0.9.6
mysql-python
python-subunit
sphinx>=1.1.2
testrepository>=0.0.15
testtools>=0.9.32
