- hosts: all
  tasks:
    - name: Get tftpd info from journald
      shell: "journalctl -t in.tftpd  > {{ zuul_output_dir }}/logs/tftpd-journal.txt"
      become: yes
    - name: Get network connection information for ironic process
      shell: "netstat -apn  > {{ zuul_output_dir }}/logs/post-job-network-connections.txt"
      become: yes
    - name: Get routing table, IPv4
      shell: "ip -4 route > {{ zuul_output_dir }}/logs/post-job-network-routes-v4.txt"
      ignore_errors: True
      become: yes
    - name: Get routing table, IPv6
      shell: "ip -6 route > {{ zuul_output_dir }}/logs/post-job-network-routes-v6.txt"
      ignore_errors: True
      become: yes
    - name: Get interfaces
      shell: "ip -s -s link > {{ zuul_output_dir }}/logs/post-job-network-interfaces.txt"
      ignore_errors: True
      become: yes
    - name: Get addresses
      shell: "ip addr > {{ zuul_output_dir }}/logs/post-job-network-addresses.txt"
      ignore_errors: True
      become: yes
    - name: Get OVS
      shell: "osv-vsctl show > {{ zuul_output_dir }}/logs/post-job-network-ovs.txt"
      ignore_errors: True
