- hosts: all
  tasks:
    - name: Get tftpd info from journald
      shell: "journalctl -t in.tftpd  > {{ zuul_output_dir }}/logs/tftpd-journal.txt"
      become: yes
    - name: Get network connection information for ironic process
      shell: "netstat -apn |grep ironic > {{ zuul_output_dir }}/logs/post-job-network-connections.txt"
      become: yes
